@mixin center-h(){
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

@mixin center-v(){
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

@mixin center-vh(){
  @include center-h();
  @include center-v();
}

body{
  margin: 0;
}

.top-msg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: $highlight-color-dark;
  z-index: 5;
  color: white;
  text-align: center;
  span{
    @include center-v();
    display: block;
    text-transform: uppercase;
  }
}

nav.side{
  position: relative;
  top: 0;
  left: 0;
  width: 20rem;
  //height: 1024px;
  padding: 4rem 2rem 2rem 2rem;
  //background-image: url('assets/images/sidebar.png');
  //background-position: center center;
  //background-size: cover;
  background-color: $nav-background-color;
  color: $highlight-color-dark;
  @media (max-width: 800px){
    width: 100%;
    height: auto !important;
  }
  img.logo{
    @include center-h();
    padding-top: 2rem;
    &.site{
      @media (max-width: 800px){
        height: 15rem;
      }
    }
  }
  ul.icons{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    li{
      display: inline;
      font-size: modular-scale(3);
      padding: 1rem;
      &.mobile-menu{
        display: none;
        @media(max-width: 800px){
          display: inline;
        }
      }
    }
    a{
      color: $highlight-color-dark;
      transition: all .2s linear;
      &:hover{
        color: tint($highlight-color-dark, 25);
      }
    }
  }
  ul.menu{
    padding-top: 2rem;
    overflow: hidden;
    max-height: auto;
    transition: max-height 1s linear;
    li{
      text-align: center;
      text-transform: uppercase;
      padding: .5rem 0 .5rem 0;
      //font-size: modular-scale(-1);
    }
    a{
      color: $highlight-color-dark;
      transition: all .2s linear;
      &:hover{
        color: tint($highlight-color-dark, 25);
      }
    }
  }
  h1{
    font-size: modular-scale(1);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  button{
    @include center-h();
    background-color: $highlight-color-light;
    &:hover{
      background-color: shade($highlight-color-light, 10);
    }
  }
  #sponsors{
    padding-bottom: 2rem;
    text-align: center;
    @media (max-width: 800px){
      img.logo{
        width: 15rem;
        transform: none;
        left: auto;
      }
    }
  }
  .copyright{
    font-size: modular-scale(-1);
    color: $highlight-color-dark;
    text-align: center;
    padding-top: 2rem;
    text-transform: uppercase;
  }
}

.main{
  position: fixed;
  top: 0;
  margin-left: 20rem;
  overflow: auto;
  width: calc(100% - 20rem);
  height: 100%;
  padding-top: 4rem;
  #mission{
    background: url('/assets/images/orange-bg.png') no-repeat;
    background-size: cover ; 
    background-position: center ;
    color: white;
    padding: 3rem 4rem;
    text-align: center;
    h3{
      font-size: modular-scale(0);
      margin: 0;
    }
    @media (max-width: $medium-screen){
      padding: 2rem;
    }
  }
  #farm{
    padding: 3rem 4rem;
    text-align: center;
    img{
      width: 35rem;
      padding-bottom: 1rem;
    }
    @media (max-width: $medium-screen){
      padding: 2rem;
    }
  }
  #sign-up{
    padding: 3rem 2rem;
    text-align: center;
    h3{
    }
    #{$all-text-inputs}{
      display: inline-block;
      width: 12rem;
      line-height: 1.6rem;
      &:placeholder-shown{
        text-transform: uppercase;
      }
    }
  }
  #countdown{
    height: 25rem;
    background: url('/assets/images/mountains.jpg')  no-repeat fixed center;
    text-align: center;
    padding: 2rem;
    color: white;
    h3{
      text-transform: uppercase;
      color: white;
    }
    #clock{
      font-size: 4rem;
      position: relative;
      top: 3rem;
      span{
        font-size: 4rem;
        background-color: rgba(0,0,0,0.2);
        padding: 2rem 1rem;
        margin: 0 1rem;
      }
    }
  }
  #upcoming-events{
    padding: 2rem;
    background-color: $secondary-background-color;
    h3{
      text-align: center;
      text-transform: uppercase;
    }
  }
  .content{
    //position: absolute;
    //overflow-y: scroll;
    //height: 100%;
    //width: 100%;
    //padding: 2rem;
  }  
  @media (max-width: 800px){
    width: 100%;
    margin-left: 0;
    position: relative;
    overflow: visible;
    padding: 0;
    & .content{
      overflow: visible;
    }
    //height: auto !important;
    #countdown, #farm, #mission, #sign-up, #upcoming-events{
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

img{
  max-width: 100%;
}

button{
  background-color: $highlight-color-dark;
  text-transform: uppercase;
}

.farm-grid{
  display: flex;
  flex-wrap: wrap;
  .farm-item{
    flex-basis: 33.333%;
    background-color: $light-gray;
    height: 100px;
    &:nth-child(even){
      background-color: shade($light-gray, 20);
    }
  }
}

.upcoming{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 1rem;
  li{
    flex-basis: 50%;
    padding: 2rem;
    @media (max-width: 800px){
      flex-basis: 100%;
      padding: 1rem;
    }
  }
  .event-info{
    background-color: $nav-background-color;
  }
  .event-action{
    background-color: $highlight-color-light;
    .center{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.2rem;
      @media (max-width: 800px){
        margin-top: 0;
      }
    }
    .event-cost{
      //flex-basis: 30%;
    }
    .event-buttons{
      //flex-basis: 70%;
      text-align: right;
    }
    p{
      color: white;
      font-weight: bold;
    }
    button{
      display: inline-block;
      background-color: white;
      color: $highlight-color-light;
      font-weight: normal;
      font-size: modular-scale(-1);
      &:hover{
        background-color: shade(white, 20);
      }
      @media (max-width: 800px){
        min-width: 6rem;
      }
    }
  }
  h1{
    font-size: modular-scale(0);
    font-weight: 700;
    margin: 0;
  }
  h2{
    margin: 0;
    text-transform: uppercase;
  }
  p{
    margin: 0;
    //font-size: modular-scale(-1);
  }
}

.footer{
  display: flex;
  flex-wrap: wrap;
  .circus-logo{
    flex-basis: 20%;
    padding: 2rem 1rem;
    text-align: center;
    @media (max-width: $medium-screen){
      flex-basis: 30%;
    }
  }
  .circus-links{
    flex-basis: 40%;
    padding: 2rem;
    h3, a{
      line-height: 1.8rem;
    }
    button{
      margin-top: 2rem;
    }
    @media (max-width: $medium-screen){
      flex-basis: 70%;
    }
  }
  .contact-form{
    flex-basis: 40%;
    padding: 2rem;
    @media (max-width: $medium-screen){
      flex-basis: 100%;
    }
  }
  h3{
    text-transform: uppercase;
    font-size: modular-scale(0);
    margin-bottom: 0;
  }
  button{
    background-color: $footer-dark;
    &:hover{
      background-color: tint($footer-dark, 10);
    }
  }
}

.ClassyCountdown-days, .ClassyCountdown-hours, .ClassyCountdown-minutes, .ClassyCountdown-seconds{
  width: calc(25% - 20px);
  position: relative;
  display: inline-block;
  margin: 10px;
  @media (max-width: 800px){
    width: calc(25% - 4px);
    margin: 2px;
  }
}

.ClassyCountdown-value{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  display: block;
}