body{
  margin: 0;
}

nav.side{
  position: relative;
  top: 0;
  left: 0;
  width: 20rem;
  //height: 1024px;
  padding: 2rem;
  background-image: url('assets/images/sidebar.png');
  background-position: center center;
  background-size: cover;
  color: white;
  @media (max-width: 800px){
    width: 100%;
    height: auto !important;
  }
  img.logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2rem;
  }
  ul.icons{
    text-align: center;
    padding-top: 2rem;
    li{
      display: inline;
      font-size: modular-scale(3);
      padding: 1rem;
      &.mobile-menu{
        display: none;
        @media(max-width: 800px){
          display: inline;
        }
      }
    }
    a{
      color: white;
      transition: all .2s linear;
      &:hover{
        color: shade(white, 25);
      }
    }
  }
  ul.menu{
    padding-top: 2rem;
    overflow: hidden;
    max-height: auto;
    transition: max-height 1s linear;
    li{
      text-align: center;
      padding: .5rem 0 .5rem 0;
      font-size: modular-scale(-1);
    }
    a{
      color: shade(white, 50);
      transition: all .2s linear;
      &:hover{
        color: shade(white, 25);
      }
    }
  }
  .copyright{
    font-size: modular-scale(-1);
    color: shade(white, 50);
    text-align: center;
    padding-top: 2rem;
    text-transform: uppercase;
  }
}

.main{
  position: fixed;
  top: 0;
  margin-left: 20rem;
  overflow: auto;
  width: calc(100% - 20rem);
  height: 100%;
  .content{
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 2rem;
  }  
  @media (max-width: 800px){
    width: 100%;
    margin-left: 0;
    position: relative;
    overflow: visible;
    & .content{
      overflow: visible;
    }
    //height: auto !important;
  }
}

img{
  max-width: 100%;
}