body{
  margin: 0;
}

nav{
  position: relative;
  top: 0;
  left: 0;
  width: 20rem;
  //height: 1024px;
  padding: 2rem;
  background-color: black;
  color: white;
  @media (max-width: 800px){
    width: 100%;
    height: auto !important;
  }
}

.main{
  position: fixed;
  top: 0;
  margin-left: 20rem;
  overflow: auto;
  width: calc(100% - 20rem);
  height: 100%;
  .content{
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 2rem;
  }  
  @media (max-width: 800px){
    width: 100%;
    margin-left: 0;
    position: relative;
    overflow: visible;
    & .content{
      overflow: visible;
    }
    //height: auto !important;
  }
}

img{
  max-width: 100%;
}